<ion-header-bar class='bar-positive'>
      <button class="button button-clear icon icon-left ion-chevron-left">首页</button>
      <h1 class="title">我的门卡</h1>
      <button class="button button-icon ion-plus"></button>
    </ion-header-bar>    

    <ion-content class='center'>
      <div class="instruction mt10">请将您的门卡二维码对准摄像头。</div>
      <div class="mt50">
        <img src="../img/menka.png">
      </div>
    </ion-content>
    
    <ion-footer-bar class='bar'>
      <div class="tabs tabs-icon-top">
          <a href="#" class="tab-item tab-item-active"><i class='icon ion-home'></i>我的门卡</a>
          <a href="#" class="tab-item"><i class='icon ion-person-add'></i>访客邀约</a>
          <a href="#" class="tab-item"><i class='icon ion-unlocked'></i>远程开门</a>
      </div>
    </ion-footer-bar>