<ion-pane>

      <ion-header-bar class='bar-dark'>
        <button class="button icon-left ion-home">首页</button>
        <h1 class="title">物业交费</h1>
      </ion-header-bar>

    <ion-content>
      <ul class="list">
        <li class="item"><a href="#/wuye-detail.html">【燃气】2015年2、3月</a></li>
        <li class="item"><a href="">【水费】2015年2、3月</a></li>
        <li class="item"><a href="">【宽带】2015年3月</a></li>
        <li class="item"><a href="">【电费】2015年3月</a></li>
        <li class="item"><a href="">【物业管理费】2015年3月</a></li>
        <li class="item" ng-click='displayDetails()'>
          【燃气】2015年2、3月
        </li>
        <li class="item">
          【水费】2015年2、3月
        </li>
        <li class="item">
          【宽带】2015年3月
        </li>
        <li class="item">
        【电费】2015年3月
        </li>
        <li class="item">
          【物业管理费】2015年3月
        </li>
      </ul>
    </ion-content>
    
    </ion-pane>